[[=form.custom.begin ]]
<select onchange="this.form.submit()" name="languages" id="no_table_languages">
    <option class="black" value="_default">[[=T('Seleccionar Idioma')]]</option>
    <option class="black" value="es" [[if seleccionado=="es" :]] selected [[pass]]>Español </option>
    <option class="black" value="it" [[if seleccionado=="it" :]] selected [[pass]]>Italiano </option>
    <option class="black" value="en" [[if seleccionado=="en" :]] selected [[pass]]>English </option>
    <option class="black" value="fr" [[if seleccionado=="fr" :]] selected [[pass]]>Francés </option>
    <option class="black" value="de" [[if seleccionado=="de" :]] selected [[pass]]>Deutsch </option>
    <option class="black" value="nl" [[if seleccionado=="nl" :]] selected [[pass]]>Nederlands </option>
</select>
[[=form.custom.end ]]